$baseFont = 14px
$animationSize = 25px

em(px, base = $baseFont)
    unit((px/base), 'em');



body
    font-size $baseFont
    overflowY hidden

.animation
    position fixed
    left 50%
    margin-left - em( (230.477/2) )
    top 50%
    margin-top - em( (284.934/2) )
    width em(230.477)
    height em(284.934)
    font-size $animationSize

.container
    width 100%
    height 100%
    position relative

.background
.piece
    position absolute
    left 0
    top 0

    &,
    object
        width em(230.477)
        height em(284.934)

@keyframes appear
    0%
        opacity 0
        font-size 40px
        left -2em
        top -3.5em
    50%
        opacity 0
        font-size 40px
        left -2em
        top -3.5em
    100%
        opacity 1
        font-size $animationSize
        left 0
        top 0

@keyframes delayedAppear
    0%
        opacity 0
        font-size 40px
        left -2em
        top -3.5em
    50%
        opacity 0
        font-size 40px
        left -2em
        top -3.5em
    100%
        opacity 1
        font-size $animationSize
        left 0
        top 0

@keyframes typeAppear
    0%
        opacity 0
    75%
        opacity 0
    100%
        opacity 1

@keyframes fade
    0%
        opacity 1
    100%
        opacity 0

.square
    display none

.dna
.bLetter
.rLetter
.background
    opacity 0

.background
    z-index -1
    transition opacity 2s ease-in .5s


/*  Once javascript has initiated  */
.start
    .bLetter
        opacity 1
        animation appear 1s ease-out

    .rLetter[data-appear]
        opacity 1
        animation delayedAppear 1s ease-out

    .dna
    .type
        opacity 1
        animation typeAppear linear 3.25s

.start[data-fade]
    .piece
        opacity 0
        animation fade linear 1.5s

    .background
        opacity 1






